<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}

</head>
<body>
<form method="POST"  action="" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Vaccine</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label"> Date of last vaccination:</label>
    <div class="col-sm-4">
      <input type="date" Required name="date_of_vaccination" class ="form-control">
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">REGISTER</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>